# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
/dist
/.vscode
/src/o2j
/_docs

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# environental variables
.env
.env.local
.env.local.example
*.bat
