	  #forum_wrapper {
			width:96%;
			margin:0px auto;
			padding:0px;
		}

	  #forum_header {
			height:30px;
			padding:8px;
			border:1px solid #bbb;
			text-align: left;
			background-color: #dbeaf5;
		}

	  #forum_sub_header {
			height:10px;
			padding:8px;
			text-align: left;
			background-color: #c0c0c0;
		}

	  #forum_footer {
			height:50px;
			padding:8px;
			border:1px solid #bbb;
			text-align: left;
			background-color: #dbeaf5;
		}

		#asetable{
			font-family: Arial, Helvetica, sans-serif;
			width:96%;
			border-collapse:collapse;
		}

		#asetable td, #asetable th{
			font-size:1.0em;
			border:1px solid #bbb;
			padding:3px 7px 2px 7px;
		}

		#asetable th{
			font-size:1.0em;
			text-align:left;
			padding-top:5px;
			padding-bottom:4px;
			background-color:#dbeaf5;
			color:#525252;
		}

		#asetable tr.alt td{
			color:#000;
			background-color:#EAF2D3;
		}

		li {
			list-style-position: outside;
			list-style-image: url(your_bullet.gif);
		}

		#wrapper{
			width:100%;
			margin:0 auto;
		}

		#body_top{
			width:100%;
			overflow:hidden;
		}

		#content{
			width:609px;
			float:left;
			padding:30px 0 0 40px;
		}

		.home #content{
			width:649px;
			padding:15px 0 0 15px;
		}

		h2#comments{
			font-size:27px;
			font-family: "Times New Roman", Times, serif;
			color:#000;
			font-weight:normal;
			margin:10px 0 10px 25px;
		}

		.alt {
			margin: 0;
			padding: 10px;
		}

		.commentlist {
			padding: 0;
			text-align: justify;
			margin:0 0 0 0px;
		}

		.commentlist .comment {
			margin: 15px 0 0 0;
			padding: 10px 15px 20px 15px;
			list-style: none;
			border:1px solid #dadada;
			background:#f3f3f3;
		}

		.commentlist .alt {
			border:1px solid #cbcbcb;
			background:#fafafa;
		}

		.commentlist .comment .comment {
			margin: 15px 15px 15px 15px;
			padding: 10px 15px 20px 15px;
			width:auto;
		}

		.commentlist p {
			margin: 10px 5px 10px 0;
			line-height:18px;
		}

		.commentmet_data{
			width:100%;
			overflow:hidden;
		}

		.commentmet_data td{
			vertical-align:top;
			text-align:left;
		}

		.commentmet_data hover {
			border: 1px solid #000000;
			background: #333333 url(inc/background.gif);
			color: #ffffff;
		}
		.commentmet_avatar{
			width:102px;
			padding:15px 0 0 0;
		}

		.commentmet_text{
			color: #083772;
		}

		.commentmet_avatar img{
			border:2px solid #868686;
		}

		#commentform p {
			margin: 5px 0;
		}

		.commentmet_replay{
			width:100%;
			overflow:hidden;
		}

		.commentmet_links{
			width:100%;
			text-transform:capitalize;
		}

		.commentmet_replay a{
			float:right;
			display:block;
			text-indent:-9999px;
			text-transform:capitalize;
			background:url(images/button_replay.gif) no-repeat;
			width:73px;
			height:27px;
		}

		.nocomments {
			text-align: center;
			margin: 0;
			padding: 0;
		}

		.commentmetadata {
			margin: 0;
			display: block;
			padding:0 0 5px 0;
			color:#333;
			font-size:14px;
			font-family: "Times New Roman", Times, serif;
			text-transform:capitalize;
		}
		.commentmetadata a{
			color:#9d080d;
		}
		.commentmetadata span{
			color:#9d080d;
			font-size:18px;
		}

		.commentmet_text{
			font-size:12px;
			line-height:1.4em;
		}

		#respond{
			margin:40px 0 0 25px;
			font-family:Verdana, Geneva, sans-serif;
		}

		.commentlist #respond{
			margin:10px 0 0 0;
		}

		table.example{
			color:#000000;
			background-color:#e5eecc;
			padding-top:8px;
			padding-bottom:8px;
			padding-left:10px;
			padding-right:10px;
			border:1px solid #d4d4d4;
			background-image:url('bgfadegreen.gif');
			background-repeat:repeat-x;
		}

		table.example_code{
			background-color:#ffffff;
			padding:4px;
			border:1px solid #d4d4d4;
		}

		table.example_code td{
			font-size:110%;
			font-family:courier new;
		}

		table.example_result{
			background-color:#ffffff;
			padding:4px;
			border:1px solid #d4d4d4;
		}

		table.code{
			outline:1px solid #d4d4d4;
			border:5px solid #e5eecc;
		}

		table.code td{
			font-size:100%;
			background-color:#FFFFFF;
			border:0px solid #d4d4d4;
			padding:4px;
		}

		h1 {font-size:200%;margin-top:0px;font-weight:normal}
		h2 {font-size:160%;margin-top:10px;margin-bottom:10px;font-weight:normal}
		h3 {font-size:120%;font-weight:normal}
		h4 {font-size:100%;}
		h5 {font-size:90%;}
		h6 {font-size:80%;}

		h4.tutheader{
			margin:0px;
			margin-top:30px;
			padding-top:2px;
			padding-bottom:2px;
			padding-left:4px;
			color:#303030;
			border:1px solid #d4d4d4;
			background-color:#ffffff;
			background-image:url('../../images/gradientfromtop.gif');
			background-repeat:repeat-x;
			background-position:0px -50px;
		}

		.linkcolumn:link {COLOR: blue; TEXT-DECORATION: none;}
		.linkcolumn:visited {COLOR: blue; TEXT-DECORATION: none;}
		.linkcolumn:hover {COLOR: #E87B10; TEXT-DECORATION: none}
		.dataColumn{text-align: left; nowrap; COLOR: #083772; }
