
html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

div#ASEcontainer {

	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;

	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

div#ASEheader {
	padding:1em;
	background:#fff;
}

div#ASEcontent {
	padding:1em 1em 5em; /* bottom padding for footer */
}

div#ASEfooter {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

