.stretchy {
	WIDTH: 97%
}
.submit {
	MARGIN: 0.7em 0px 0px; TEXT-ALIGN: center
}
.error {
	BORDER-RIGHT: #c00 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c00 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #ffc; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 1em; BORDER-LEFT: #c00 1px solid; COLOR: #c00; PADDING-TOP: 10px; BORDER-BOTTOM: #c00 1px solid
}
#mainContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD {
	VERTICAL-ALIGN: top
}
.popShow {
	DISPLAY: block
}
.popHide {
	DISPLAY: none
}
#reg_c1 {
	FLOAT: left; WIDTH: 748px
}
#reg_c2 {
	FLOAT: right; WIDTH: 460px
}
.container {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 10px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #aaa 1px solid
}
.nopad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.container LEGEND.standout {
	FONT-SIZE: 1.4em; COLOR: #900
}
UL#prog1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#prog1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#prog1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL#prog1 UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL#wishListContents {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#wishListContents LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#prog1 LI {
	MARGIN: -4px -8px 2px
}
UL#wishListContents {
	MARGIN: -4px -8px 2px
}
UL#wishListContents LI A IMG {
	VERTICAL-ALIGN: text-top
}
UL#prog1 UL LI A IMG {
	VERTICAL-ALIGN: text-top
}
UL#prog1 LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dashed
}
UL#prog1 LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px dashed
}
UL#wishListContents LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px dashed
}
UL#prog1 LI UL LI IMG {
	Z-INDEX: 9; MARGIN-LEFT: -14px; POSITION: relative
}
UL#wishListContents LI IMG {
	Z-INDEX: 9; MARGIN-LEFT: -14px; POSITION: relative
}
UL#prog1 LI UL LI {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#slider {
	
}

#mainContent H2.prg_hdr {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #666; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #fff; LINE-HEIGHT: normal; PADDING-TOP: 5px; LETTER-SPACING: -0.03em; POSITION: relative; TEXT-ALIGN: center
}
#reg_wishlist {
	BACKGROUND: url(../../dir_images/bg_dest.gif) #f5f5ed repeat-x left top; POSITION: relative
}
#reg_wishlist #wishlist_container {
	MIN-HEIGHT: 10em; HEIGHT: 10em
}
#reg_wishlist #wishlist_container FIELDSET {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
#reg_wishlist #wishlist_container LABEL {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 60px; LINE-HEIGHT: 18px; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: right
}
#reg_wishlist #wishlist_container INPUT {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 0px 3px
}
A#logoutBtn {
	FONT-SIZE: 80%; COLOR: #fff
}
A#account_create {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 8px 0px 0px
}
A#account_login {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 8px 0px 0px
}
#reg_wishlist .error {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#reg_wishlist #wlitems {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#reg_wishlist #wishlist_container #btn_wishlist {
	PADDING-RIGHT: 1px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 2px -8px -4px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
#reg_wishlist #wishlist_container #btn_wishlist INPUT {
	DISPLAY: inline; FLOAT: none; MARGIN: 0px; WIDTH: auto
}
#timer {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; TEXT-ALIGN: center
}
#search_results {
	MIN-HEIGHT: 40em; HEIGHT: 40em
}
#search_results TABLE.results {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; empty-cells: show
}
#search_results TABLE.results TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 95%; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px
}
#search_results TABLE.results TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 95%; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px
}
#search_results TABLE.results TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #999; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#search_results TABLE.results TH A {
	DISPLAY: block; COLOR: #fff
}
TABLE.results TH A:link {
	DISPLAY: block; COLOR: #fff
}
#search_results TABLE.results TD {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-RIGHT-STYLE: none
}
#search_results TABLE.results TD A {
	DISPLAY: block
}
#search_results TABLE.results TD A:link {
	DISPLAY: block
}
#search_results TABLE.results TR TD TABLE.record {
	WIDTH: 440px; COLOR: #666
}
#search_results TABLE.results TR.online TD TABLE.record {
	BACKGROUND: #ffc; COLOR: #000
}
TABLE.results TR.online {
	BACKGROUND: #ffc; COLOR: #000
}
.online {
	BACKGROUND: #ffc; COLOR: #000
}
UL#wishListContents LI.online {
	BACKGROUND: #ffc; COLOR: #000
}
#search_results TABLE.results TR:hover TD {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#search_results TABLE.results TR.online:hover TD {
	BACKGROUND: #ffc
}
.online {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
UL#wishListContents LI.offline {
	BACKGROUND: #fff; COLOR: #666
}
#search_results TABLE.results TD A.paging {
	DISPLAY: inline
}
#search_results TABLE.results TD A.paging:link {
	DISPLAY: inline
}
#search_results TABLE.results TD TABLE.record {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; empty-cells: show
}
#search_results TABLE.results TD TABLE.record TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#search_results TABLE.results TD.filter {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #eee; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
#search_results TABLE.results TD.filter INPUT {
	VERTICAL-ALIGN: middle
}
.cartitem LI SPAN {
	DISPLAY: block; BACKGROUND: #fff; FLOAT: right; WIDTH: 6em
}
#order_summary TABLE TR TD {
	PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid
}
#order_summary TABLE TR.subtotal TD {
	BORDER-TOP: #ddd 1px dashed; FONT-WEIGHT: bold; BACKGROUND: #eee; COLOR: #666
}
#order_summary TABLE.onlineFee {
	BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BACKGROUND: #eee; WIDTH: 225px; COLOR: #000
}
#order_summary TABLE.total {
	BORDER-TOP: #666 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 120%; BACKGROUND: #effaff; WIDTH: 225px; COLOR: #000
}
#order_summary TABLE.total TR TD {
	PADDING-BOTTOM: 4px; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#order_summary A.addparticipant {
	MARGIN-LEFT: 6px; TEXT-DECORATION: underline
}
#printmsg {
	FONT-WEIGHT: bold; FONT-SIZE: 120%
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix:unknown {
	LINE-HEIGHT: 0
}
.clearfix {
	
}
 HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
#prog_browser {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: 2; MARGIN: 0px 0px 1em; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; POSITION: relative; HEIGHT: 126px
}
#prog_hdrs {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: 2; MARGIN: 0px 0px 1em; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; POSITION: relative; HEIGHT: 126px
}
#prog_hdrs {
	FONT-WEIGHT: bold; BACKGROUND: #eee; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; COLOR: #555; HEIGHT: 17px
}
#p1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#p2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#p3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#p4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#hdr1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#hdr2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#hdr3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#hdr4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2; BACKGROUND: url(../images/bg_browserUL.gif) #f9f9f9 repeat-y right top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 187px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 126px
}
#p2 {
	WIDTH: 187px
}
#p3 {
	WIDTH: 187px
}
#p4 {
	WIDTH: 187px
}
#p2 {
	MARGIN-LEFT: 187px
}
#hdr2 {
	MARGIN-LEFT: 187px
}
#p3 {
	MARGIN-LEFT: 374px
}
#hdr3 {
	MARGIN-LEFT: 374px
}
#p4 {
	BACKGROUND: #f9f9f9; MARGIN-LEFT: 561px
}
#hdr4 {
	BACKGROUND: #f9f9f9; MARGIN-LEFT: 561px
}
#hdr1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; PADDING-TOP: 1px; HEIGHT: 17px
}
#hdr2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; PADDING-TOP: 1px; HEIGHT: 17px
}
#hdr3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; PADDING-TOP: 1px; HEIGHT: 17px
}
#hdr4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; PADDING-TOP: 1px; HEIGHT: 17px
}
#p1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p3 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p4 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p4 UL {
	MARGIN: 0px
}
#p1 UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p2 UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p3 UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p4 UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#p1 UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: url(../images/arrow.gif) no-repeat 99% center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; POSITION: relative; TEXT-DECORATION: none
}
#p2 UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: url(../images/arrow.gif) no-repeat 99% center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; POSITION: relative; TEXT-DECORATION: none
}
#p3 UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: url(../images/arrow.gif) no-repeat 99% center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; POSITION: relative; TEXT-DECORATION: none
}
#p4 UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: url(../images/arrow.gif) no-repeat 99% center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; POSITION: relative; TEXT-DECORATION: none
}
 HTML #p1 UL LI A {
	HEIGHT: 1%
}
 HTML #p2 UL LI A {
	HEIGHT: 1%
}
 HTML #p3 UL LI A {
	HEIGHT: 1%
}
 HTML #p4 UL LI A {
	HEIGHT: 1%
}
#p1 UL LI A:hover {
	BACKGROUND: url(../images/arrow_on.gif) #999 no-repeat 99% center; COLOR: #fff
}
#p2 UL LI A:hover {
	BACKGROUND: url(../images/arrow_on.gif) #999 no-repeat 99% center; COLOR: #fff
}
#p3 UL LI A:hover {
	BACKGROUND: url(../images/arrow_on.gif) #999 no-repeat 99% center; COLOR: #fff
}
#p4 UL LI A:hover {
	BACKGROUND: url(../images/arrow_on.gif) #999 no-repeat 99% center; COLOR: #fff
}
#p4 UL LI A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#p4 UL LI A:hover {
	BACKGROUND: #666; COLOR: #fff
}
#reg_wishlist H2.prg_hdr {
	PADDING-LEFT: 21px; TEXT-ALIGN: left
}
#cart H2.prg_hdr {
	PADDING-LEFT: 23px; TEXT-ALIGN: left
}
#p1 SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 150%; COLOR: #999; LINE-HEIGHT: 130%; PADDING-TOP: 50px; TEXT-ALIGN: center
}
#p2 SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 150%; COLOR: #999; LINE-HEIGHT: 130%; PADDING-TOP: 50px; TEXT-ALIGN: center
}
#p3 SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 150%; COLOR: #999; LINE-HEIGHT: 130%; PADDING-TOP: 50px; TEXT-ALIGN: center
}
#p4 SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 150%; COLOR: #999; LINE-HEIGHT: 130%; PADDING-TOP: 50px; TEXT-ALIGN: center
}
#p1 UL LI SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; COLOR: #666; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; FONT-STYLE: italic; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#p2 UL LI SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; COLOR: #666; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; FONT-STYLE: italic; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#p3 UL LI SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; COLOR: #666; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; FONT-STYLE: italic; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#p4 UL LI SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; COLOR: #666; LINE-HEIGHT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid; FONT-STYLE: italic; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#loadingresults {
	Z-INDEX: 1000; BACKGROUND: url(../images/bg_loadingresults.png) no-repeat center center; LEFT: 50%; MARGIN: -90px 0px 0px -90px; WIDTH: 180px; POSITION: fixed; TOP: 50%; HEIGHT: 175px
}
 HTML #loadingresults {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/programBrowser/images/bg_loadingresults.png",sizingMethod="scale"); POSITION: absolute
}
#loadingresults SPAN {
	DISPLAY: block; MARGIN: 100px 0px 0px 65px
}
#prog_browser .default_msg {
	DISPLAY: block; FONT-SIZE: 100%; COLOR: #000; LINE-HEIGHT: 130%; TEXT-ALIGN: center
}
#search_results .default_msg {
	DISPLAY: block; FONT-SIZE: 100%; COLOR: #000; LINE-HEIGHT: 130%; TEXT-ALIGN: center
}
#prog_browser .default_msg {
	Z-INDEX: 99; BACKGROUND: #f9f9f9; LEFT: 188px; WIDTH: 528px; PADDING-TOP: 45px; POSITION: absolute; TOP: 0px; HEIGHT: 81px
}
#search_results .default_msg {
	BACKGROUND: url(../images/results_example.gif) no-repeat left top; PADDING-TOP: 15px; HEIGHT: 420px
}
#search_results .default_msg SPAN {
	BACKGROUND: #fff
}
.noJS {
	BORDER-RIGHT: red 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: red 2px solid; PADDING-LEFT: 5px; Z-INDEX: 999; BACKGROUND: white; LEFT: 10%; PADDING-BOTTOM: 5px; OVERFLOW: auto; BORDER-LEFT: red 2px solid; WIDTH: 80%; PADDING-TOP: 5px; BORDER-BOTTOM: red 2px solid; POSITION: absolute; TOP: 150px; HEIGHT: 400px; TEXT-ALIGN: left
}
#mainContent #reg_wishlist H2.prg_hdr {
	BACKGROUND: url(../images/bg_hdr_wishlist.gif) #666 no-repeat 2px 50%
}
#mainContent #cart H2.prg_hdr {
	BACKGROUND: url(../images/bg_hdr_cart.gif) #666 no-repeat 2px 50%
}
#p1 UL LI A:hover {
	BACKGROUND-COLOR: #ccc
}
#p2 UL LI A:hover {
	BACKGROUND-COLOR: #ccc
}
#p3 UL LI A:hover {
	BACKGROUND-COLOR: #ccc
}
#p4 UL LI A:hover {
	BACKGROUND-COLOR: #ccc
}
#p1 UL LI A.here {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p2 UL LI A.here {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p3 UL LI A.here {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p4 UL LI A.here {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p1 UL LI A.here:hover {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p2 UL LI A.here:hover {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p3 UL LI A.here:hover {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p4 UL LI A.here:hover {
	BACKGROUND: url(../images/arrow_here.gif) #ddd no-repeat 99% center; COLOR: #000
}
#p4 UL LI A.here {
	BACKGROUND: #ddd; COLOR: #000
}
#p4 UL LI A.here:hover {
	BACKGROUND: #ddd; COLOR: #000
}
#reg_openmsg {
	BORDER-RIGHT: #c00 2px solid; BORDER-TOP: #c00 2px solid; BACKGROUND: #ffd; LEFT: 50%; MARGIN: 0px 0px 10px -250px; BORDER-LEFT: #c00 2px solid; WIDTH: 500px; BORDER-BOTTOM: #c00 2px solid; POSITION: relative; TEXT-ALIGN: center
}
#mainContent #reg_openmsg H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#reg_openmsg H2 SPAN#walkup {
	MARGIN-TOP: 5px; DISPLAY: block; FONT-SIZE: 93%; COLOR: #333
}
.help {
	RIGHT: 5px; POSITION: absolute; TOP: 5px
}
 HTML #help_programBrowser {
	RIGHT: 30px
}
#help_container {
	BORDER-RIGHT: #666 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #666 2px solid; PADDING-LEFT: 10px; Z-INDEX: 100; BACKGROUND: #fff; LEFT: 50%; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px -200px; OVERFLOW: auto; BORDER-LEFT: #666 2px solid; WIDTH: 400px; PADDING-TOP: 10px; BORDER-BOTTOM: #666 2px solid; POSITION: absolute; TOP: 120px; HEIGHT: 250px; TEXT-ALIGN: left
}
#help_container .help_close {
	DISPLAY: block; TEXT-ALIGN: center
}
#help_container H2 {
	MARGIN: 0.5em 0px 0px
}
#help_container UL LI {
	MARGIN-BOTTOM: 1.5em; MARGIN-LEFT: -0.5em
}
#help_container UL LI UL LI {
	MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: -0.5em
}
A:unknown {
	moz-outline-style: none
}
.inicap {
	TEXT-TRANSFORM: capitalize
}
LABEL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px
}
