<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<style type="text/css"> body { font-size: 84%; } </style>
	<link rel="stylesheet" href="./layout06_files/common.css" type="text/css" media="screen,print">
	<title></title>
</head>

<body>
	<div class="Common">
		<div id="CommonContent">
			<div id="CommonContentInner">
				<div class="CommonContentBox">

					<div class="CommonContentBoxContent">
						<div class="CommonCommentArea">
							<div class="CommonCommentUser">1.</div>
							<a title="TrackBack" rel="nofollow" href="html">use css instead of tables</a>
						</div>
					</div>

					<div class="CommonContentBoxContent">
						<div class="CommonCommentArea">
							<div class="CommonCommentUser">2.</div>
							<a title="TrackBack" rel="nofollow" href="html">use css instead of tables</a>
						</div>
					</div>

					<div class="CommonContentBoxContent">
						<div class="CommonCommentArea">
							<div class="CommonCommentUser">3.</div>
							<a title="TrackBack" rel="nofollow" href="html">use css instead of tables</a>
						</div>
					</div>

					<div class="CommonContentBoxContent">
						<div class="CommonCommentArea">
							<div class="CommonCommentUser">4.</div>
							<a title="TrackBack" rel="nofollow" href="html">use css instead of tables</a>
						</div>
					</div>


					<div class="CommonContentBoxContent">
						<div class="CommonCommentArea">
							<div class="CommonCommentUser">5.</div>
							<a title="TrackBack" rel="nofollow" href="html">use css instead of tables</a>
						</div>
					</div>

					<div class="CommonContentBoxContent">
						<div class="CommonCommentArea">
							<div class="CommonCommentUser">6.</div>
							<a title="TrackBack" rel="nofollow" href="html">use css instead of tables</a>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<div id="CommonFooter">
	<div class="Common">
		<a href="" target="_blank"><img src="./layout05_files/PoweredByCS_commercial.gif" alt="" style="border-width:0px;"></a>
	</div>
</div>

</body>
</html>