select max(id) from tblCampusdata - 19529
select max(id) from tblCampusQuestions - 1345
select max(id) from tblCourseQuestions - 2427
select max(id) from tblINI - 1296
select max(id) from tblUsers - 13309

